@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Bem-Vindo ao Sistema de Notas Estudantis!</h1>
    <p class="lead">Explore as funcionalidades e gerencie o desempenho acadêmico.</p>

    <div class="mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-info">Gerencie Disciplinas</h5>
                        <p class="card-text">Adicione, edite e exclua disciplinas facilmente.</p>
                        <a href="/Discipline/Index" class="btn btn-info">Explorar Disciplinas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-success">Registre Notas</h5>
                        <p class="card-text">Registre as notas dos alunos de forma simples e rápida.</p>
                        <a href="/Grade/Index" class="btn btn-success">Registrar Notas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-warning">Acompanhe o Desempenho</h5>
                        <p class="card-text">Acompanhe o desempenho acadêmico dos alunos.</p>
                        <a href="/Grade/Index" class="btn btn-warning">Acompanhar Desempenho</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
