@model StudentsNotes.Models.Student

@{
    ViewData["Title"] = "Edit";
}

@section styles {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/css/bootstrap.min.css" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
}

<h1 class="text-primary">Edit</h1>

<div class="card floating-card">
    <div class="card-body">
        <h4 class="card-title font-weight-bold">Student</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentID" />
            <div class="form-group">
                <label asp-for="StudentName" class="control-label">Nome do Aluno</label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAge" class="control-label">Idade do Aluno</label>
                <input asp-for="StudentAge" class="form-control" />
                <span asp-validation-for="StudentAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email do Aluno</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label">Telefone de Contato</label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="HasNotebook" />
                <label class="form-check-label" for="HasNotebook">Possui Notebook</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fa fa-arrow-left"></i> Back to List
    </a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>
}
